[submodule "cost-onprem-chart"]
	path = submodules/cost-onprem-chart
	url = https://github.com/insights-onprem/cost-onprem-chart.git
[submodule "koku"]
	path = submodules/koku
	url = https://github.com/project-koku/koku.git
[submodule "koku-ui"]
	path = submodules/koku-ui
	url = https://github.com/project-koku/koku-ui.git
